<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
</head>
<body>

	<form method="post" action="/post_course">
		<label>Course Name:</label>
		<input id="courseName" name="courseName" type="text" />
		<label>Department:</label>
		<input id="department" name = "department" type="text" />
		<label>Number of Credits:</label>
		<input id="creditHours" name = "creditHours" type="text" />
		<input type="submit" />
	</form>
	
	All Courses Created:
	{% for course in course %}
		<li>Course ID: {{course.id}}</br> Course Name: {{course.courseName}} </br>Course Department: {{course.department}}</br> Number of Credits: {{course.creditHours}}</li></br>
	{% endfor %}
	</br>
		

</body>
</html>
	