<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<head>
	<title></title>
	<meta charset="utf-8" />
</head>
<body>
<h1>THIS IS COURSES!!!!!!! </h1>


	<form method="post" action="/post_course">
		<label>Course Name:</label>
		<input id="courseName" name="courseName" type="text" />
		<label>Department:</label>
		<input id="department" name = "department" type="text" />
		<label>Number of Credits:</label>
		<input id="creditHours" name = "creditHours" type="text" />
		<input type="submit" />
	</form>
	</br>
	
	All Courses Created:
	{% for course in course %}
		<li>Course ID: {{course.id}}</br> Course Name: {{course.courseName}} </br>Course Department: {{course.department}}</br> Number of Credits: {{course.creditHours}}</li>
		<form method="post" action="/delete_course">
		<input id="id" name = "id" type="integer" />
		<input type="submit" value="Delete Course"/>
		</form>
		</br>
	{% endfor %}
	</br>
		

</body>
</html>
	