<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
</head>
<body>

	<form method="post" action="/post_professor">
		<label>Username:</label>
		<input id="username" name="username" type="text" />
		<label>Email:</label>
		<input id="email" name = "email" type="text" />
		<input type="submit" />
	</form>
		
	All Professors Created:
	{% for professor in professor %}
		<li>Professor ID: {{professor.id}}</br> Professor Name: {{professor.username}}</br> Professor E-mail: {{professor.email}}</br></li></br>
	{% endfor %}
		
</body>
</html>
	